{% extends 'ShopBundle::layout.html.twig' %}
{% block main %}
    {% for category in categories %}
        <div class="row-fluid">
        {% for i in 1..3 %}
            <div class="span4">
                <h2>{{ category.name }}</h2>
                <p>{{ category.description|dotdotdot }}</p>
                <p><a class="btn" href="{{ path('category_show', {'id': category.id}) }}">View details &raquo;</a></p>
            </div><!--/span-->
        {% endfor %}
        </div><!--/row-->
    {% endfor %}
{% endblock main %}
